.lm-div {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background: var(--ifm-color-background);
  border: 1px solid var(--ifm-color-card-border);
  margin: 0 auto;
  position: relative;
  margin-top: -150px;
}

.programing-language-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  padding: 10px;
  margin-top: 150px;
}
.language {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  background: var(--ifm-color-card-linner);
  color: var(--ifm-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--ifm-color-card-border);
  transition: all 0.7s ease;
}
.language > h1 {
  font-size: 16px;
  font-weight: 500;
}
.language > img {
  width: 25px;
  height: 25px;
  margin-bottom: 15px;
}
.language:hover {
  border: 1px solid var(--ifm-color-card-border-hover);
  text-decoration: none;
}

.style-community-tab {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.style-community-tab > h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--ifm-color-primary);
}
.style-community-tab > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #6b7280;
  text-align: center;
}
.style-community-tab-button {
  display: flex;
}
.button {
  background: #fcfcfd;
  width: 120px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.button > p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-top: 20px;
}
.button > img {
  margin: 5px;
  width: 20px;
  height: 20px;
}
.button:hover {
  box-shadow: var(--box-shadow);
}

.style-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  top: 230px;
}

@media screen and (max-width: 600px) {
  .style-programing-language > p {
    font-size: 16px;
    color: #6b7280;
    font-weight: 400;
  }
  .programing-language-container {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }

  .language > h1 {
    font-size: 16px;
    font-weight: 500;
  }
  .language > img {
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
  }
  .style-skills-container {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    margin: 10px 20px;
  }
  .skill {
    padding-top: 10px;
    width: 341px;
    height: 53.5px;
    border-radius: 10px;
    background: linear-gradient(to right, #faf9fb, #fefeff);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    box-shadow: 1px #0000002c;
  }
  .style-footer {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    top: 500px;
  }
}
