/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #324d68;
  --ifm-color-primary-dark: #22394f;
  --ifm-color-primary-darker: #253d54;
  --ifm-color-primary-darkest: #243b52;
  --ifm-color-primary-light: #3e6184;
  --ifm-color-primary-lighter: #4c749d;
  --ifm-color-primary-lightest: #517da9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #123d66;
  --ifm-color-primary-dark: #0d3051;
  --ifm-color-primary-darker: #092743;
  --ifm-color-primary-darkest: #041729;
  --ifm-color-primary-light: #124f88;
  --ifm-color-primary-lighter: #135594;
  --ifm-color-primary-lightest: #1564ad;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.ada {
  justify-content: space-between;
}
